.research {
    margin: 3em;
}

#harc {
    margin: auto;
    width: 80%;
    height: 100%;
}

hr {
    border: 1px dashed gray;
}

h3 {
    color: gray;
}

mat-card {
    margin: 0.5em;
    background-color: rgb(250, 244, 244);
}