<div id="container">
    <h1>Teaching</h1>

    <p>
        I am passionate about helping others learn, be inspired, and develop robust solutions to important problems. My primary goal as a teacher is to facilitate student development into life-long creators. Creating implies the purposeful application of learning. As life-long creators, students will exercise their abilities to meaningfully shape and control the world around them. Overall, I strive to build a learning atmosphere that fosters the development of life-long creators. This demands a student-driven classroom setting with partial student control of content and assessment determined by a dialogue between all participants in the course. In this manner, I attempt to provide the greatest value to students and the greater computing community. 

        My full pdf teaching statement is available <a href="https://drive.google.com/file/d/0B3KqG0YYYEcpbkdaS1J1cG1mRlk/view">here</a>
    </p>

    <h3>Select Teaching Experiences:</h3>
    <p>
        UIUC Department of Electrical and Computer Engineering (1/16 – present)
        <ul>
            <li>TA for Senior Design (Spring 2016, Fall 2016) </li>
        </ul>    

        UIUC Department of Electrical and Computer Engineering (8/12 – 5/15) 
        <ul>
            <li>Occasional guest lecturer for senior-level computer architecture course (ECE411).</li>
        </ul>

        UIUC Department of Electrical and Computer Engineering (8/10 – 5/12)
        <ul>
            <li>Head TA for ECE290: Introduction to Computer Engineering I (Fall 2010, Spring 2011)</li>
            <li>Taught a discussion section </li>
            <li>Designed homeworks and solutions, conducted office hours </li>
            <li>Participated in implementation of intrinsic motivation discussion sections for engineering education research (Fall 2011, Spring 2012).</li>
            <li>List of Teachers Ranked as Excellent by Their Students: Fall 2010, Fall 2011, Spring 2012</li>
            <li>Nominated for Harold L. Olesen Teaching Award: Fall 2011</li>
        </ul>
        
</div>

