a {
    text-decoration: none;
    color: white;
    margin: .5em;
}

a:hover { 
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    border-bottom: 2px solid #1DE9B6;
}