a {
    text-decoration: none;
    color: white;
    margin: .5em;
}

a:hover { 
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    border-bottom: 2px solid #F1BE48;
}

// Fix navbar
mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-menu-item:hover {
    background-color: #F1BE48;
}