<div class=container>
  <div class="professors">
    <h2>Professors</h2>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let professor of professors">
        <mat-card class="profile-card mat-elevation-z4"  color="accent">
          <mat-card-header>
            <mat-card-title>{{professor.name}}</mat-card-title>
            <mat-card-subtitle>
              {{professor.designation}} <br>
              {{professor.address}} <br>
              Phone - {{professor.phone}} <br>
              email - {{professor.email}}
            </mat-card-subtitle>
          </mat-card-header> 
          <img mat-card-image src={{professor.imagePath}} alt="Photo of the Henry Duwe">
          <mat-card-content>
            <p>{{professor.profileDescription}} </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
    <div class="students">
      <h2>Graduate Students</h2>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let gradStudent of gradStudents">
          <mat-card  class="mat-elevation-z4"  color="accent">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{gradStudent.name}}</mat-card-title>
              <mat-card-subtitle>{{gradStudent.designation}}

              </mat-card-subtitle>
            </mat-card-header> 
            <img mat-card-image class="imgs" src={{gradStudent.imagePath}} alt="Photo of the Graduate Student">
            <mat-card-content>
              <p>{{gradStudent.profileDescription}} </p>
            </mat-card-content>
          </mat-card>
        </div>
   
      </div>

      <h2>Undergraduate Students</h2>
      <h2>Alumni</h2>
    </div>
</div>
