<<<<<<< HEAD
.container {
    margin: 2%;
}

img {
    margin-left: 2%;
    margin-right: 2%;
=======
h2 {
    color: #c8102e;
}

.container {
    margin: 2em;
}

mat-card {
    margin: 0.5em;
    background-color: rgb(250, 244, 244);
>>>>>>> master
}