<div class=container>
    <div class="professor">
        <h2>Advisor</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2%">
            <mat-card fxFlex="25" class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>Dr. Henry Duwe</mat-card-title>
                  <mat-card-subtitle>Assistant Professor, Iowa State University</mat-card-subtitle>
                  <!-- <mat-card-subtitle>Electrical and Computer Engineering Department</mat-card-subtitle>
                  <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of the Henry Duwe">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.   
                  </p>
                </mat-card-content>
            </mat-card>
            <!-- <mat-card fxFlex="20" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card> -->
    </div>
    <div class="students">
        <h2>Graduate Students</h2>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center"  fxLayoutGap="2%" fxLayoutAlign="flex-start" >
            <mat-card fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
            <mat-card   fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
            <mat-card  fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
            <mat-card  fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20" class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/henry_headshot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
                    

        <h2>Undergraduate Students</h2>
        <h2>Alumni</h2>
    </div>
</div>
