.welcome {
    color: black;
    // margin: auto;
    width: 100%;
    // height: 15vh;
    height: 60%;
    background-color: #c8102e;
    align-content: center;

}

h1 {
    color: white;
    top: 8vh;
    font-size: 7vw;
    text-align: center;
}

h2 {
    color: rgb(139, 134, 134);
    font-size: 3vw;
    text-align: center;
}

p {
    color: white;
    font-size: 2vw;
    text-align: center;
}

.news {
    width: 100%;
    height: 60%;
}

#headline {
    color: white;
    text-align: center;   
    padding: 1em 3em;
    font-size: 3vw;
}

#slide {
    color: white;
    align-content: center;
    text-align: center; 
    margin: auto;
    
}