mat-card {
    height: 80%;
    background-image: url('/assets/images/pcb-unsplash.jpg');
    background-size: cover;
}

mat-card-content {
    color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // max-width: 50%;
}